@page "/person/{table}/delete/{id1}/{id2}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper uriHelper
<h1>Delete Person</h1>

Are you sure you want to delete this entity
			<td><button onclick="@Yes">Yes</button> |<button onclick="@No">No</button></td>
@functions{
	[Parameter]
	private string Id1 {get; set;}
	[Parameter]
	private string Id2 {get; set;
	[Parameter]
	private string Table {get; set;
	public async Task Yes(){
		await Http.DeleteAsync("/api/person/delete/"+Id);
		uriHelper.NavigateTo("/" + Table.ToLower() + "s");
	}
	public void No(){
		uriHelper.NavigateTo("/" + Table.ToLower() + "s");
	}
}
