@using ProjectName.Shared.Models //route to models
@inject HttpClient Http 

@if (models==null) { 
	 <p><em>Loading...</em></p> 
}
 else {
<table class="table">
	<thead>
		<tr>
			<td hidden> Id</td>
			<td> Name</td>
			<td> LastName</td>
			<td> OIB</td>
			<td> BirthDate</td>
		</tr>
	</thead>
	<tbody>
	@foreach(var entity in @models){
		<tr>
			<td> entity.Id</td>
			<td> entity.Name</td>
			<td> entity.LastName</td>
			<td> entity.OIB</td>
			<td> entity.BirthDate</td>
		</tr>
	}
	</tbody>
</table>
}
@functions{


	List<Person> models;
	protected override async Task OnInitAsync()
	{ 
		models=await Http.GetJsonAsync<List<Person>>(  " neki link ");


	}
}
