@using Master_v2.Shared.Models

@{

    //var submitAction = "hello";
    Master_v2.Shared.Models.Person MyModel = (Master_v2.Shared.Models.Person)Model;
    var submitAction = MyModel.Id == 0 ? "Post" : "Update";
}
<h1>Edit Person</h1>


<form asp-controller="Person" asp-action="@submitAction" method="post">
    <input asp-for="Id" hidden />
    <input asp-for="Name" />
    <input asp-for="LastName" />
    <input asp-for="OIB" />
    <input asp-for="BirthDate" />
    <button type="submit">Spremi</button>/>
</form>

@functions{

}
