@page "/stores/{id}"
@inject HttpClient Http
@*
    put routes for page on top with @page /{wishedRoute}
*@

<p hidden><span> Id</span> @model.Id</p>
<p><span> Name</span> @model.Name</p>
<p><span> Address</span> @model.Address</p>

@functions{
    [Parameter]
    private string Id { get; set; }

    Master_v2.Shared.Models.Store model = new Master_v2.Shared.Models.Store();
    protected override async Task OnInitAsync()
    {
        model = await Http.GetJsonAsync<Master_v2.Shared.Models.Store>("/api/store/" + Id);
    }
}
