@page "/store/{id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper uriHelper
<h1>Edit Store</h1>

<form onsubmit="@Post">
<table>
	<tbody>
		<tr>
			<td>
				<input type="number" bind="@model.Id" asp-for="Id" hidden/>
			</td>
		</tr>
		<tr>
			<td>
				<label>Name</label>
				<input type="text" bind="@model.Name" asp-for="Name" />
			</td>
		</tr>
		<tr>
			<td>
				<label>Address</label>
				<input type="text" bind="@model.Address" asp-for="Address" />
			</td>
		</tr>
	<button type="submit" class="btn btn - success">Save</button>
	</tbody>
</table>
</form>

@functions{
	[Parameter]
	private string Id {get; set;}

	Master_v2.Shared.Models.Store model = new Master_v2.Shared.Models.Store();
	protected override async Task OnInitAsync(){
		model=await Http.GetJsonAsync<Master_v2.Shared.Models.Store>("/api/store/"+Id);
	}
	public async Task Post(){
		try{
			if(model.Id==0){
				await Http.SendJsonAsync(HttpMethod.Post, "/api/store/create",model);
			uriHelper.NavigateTo("/stores");
			}
			else{
				await Http.SendJsonAsync(HttpMethod.Post, "/api/store/edit",model);
			uriHelper.NavigateTo("/stores");
			}
		}
		catch(Exception e){
			Console.WriteLine(e.Message);
			throw;
		}
	}
}
